#Compilacao e build
*.exe
*.dll
*.pdb
*.dll.config
*.cache
*.msi
*.vsix
*.appx
*.appxbundle
*.vs/appid

#projetos e solucoes
*.suo
*.user
*.sln.docstates
*.sln.ide
*.sln.layout
*.sln.lsps
*.sln
*.csproj
*.fsproj
*.xproj
*.vcxproj
*.shproj
*.njsproj
Projeto.WebApi\appsettings.json
Projeto.WebApi\appsettings.Development.json


**/bin/
**/obj/

packages/
*.nupkg

*.log
*.logs
*.db
*.sqlite
*.pdb

*.config.user
*.config
*.connectionstrings
*.secrets
*.key

*.[Cc]ache/
*.tmp
*.temp

.vs/
.vscode/
Projeto.WebApi/appsettings.json
Projeto.WebApi/appsettings.Development.json